.btn_bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    background: #D71921;
}
.btn_bottom a{
    display: flex;
    justify-content: center;
    padding: 21px 0 22px;
    width: 100%;
}