@font-face {
    font-family: "NEXON";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: "NEXON";
  }
  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 768px;
  }
  .header {
    flex: 0 0 55px;
  }
  .footer {
    flex: 0 0 40px;
    padding: 0 30px;
    margin-top: 21px;
  }
  .containel {
    padding: 0 20px;
    margin-top: 41px;
    padding-bottom: 70px;
  }
  .header .top_menu {
    display: flex;
    justify-content: space-between;
    padding: 55px 20px 0;
  }
  .flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section_title {
    margin-top: 60px;
  }
  .box_shadow {
    border-radius: 32px;
    box-shadow: 2px 6px 17px rgb(0, 0, 0, 0.08);
  }

  /* sub step page */
  .main_title{
    text-align: center;
  }
  .info_list{
    margin-top: 32px;
    padding-top: 20px;
    border-top: 1px solid #DDDDDD;
  }
  .info_list .info_item .info_item_title{
    margin-top: 60px;
  }
  .info_item .info_item_title{
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-top:16px;
  }
  .info_item .info_item_title.input_title{
    border-bottom: 0;
    margin-bottom: 0;
  }
  .info_item .info_item_form .form_box{
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 18px 20px;
  }
  .info_list .info_item_form .form_box + .form_box{
    margin-top: 8px;
  }
  .info_item_list + .info_item_form .form_box {
    margin-top: 24px;
  }
  .noti{
    margin-top:8px;
  }
  .flex_align_top{
    align-items: flex-start;
  }
  .btn_next{
    width: 100%;
    padding: 18px 0;
    background: #242D3C;
    border-radius: 16px;
    text-align: center;
    margin-top: 60px;
  }
  .complete_img{
    margin-top: 32px;
  }
  .btn_next a{
    display: block;
  }
 .flex_box_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}




  /* menu page */
  .menu .containel{
    margin-top: 60px;
  }
  .menu .rol_banner_box {
    padding: 12px 30px 8px;
    background: #fbe8e9;
    border-radius: 24px;
    height: 80px;
    margin-top:20px;
  }
  .menu .flex_btn {
    margin-top: 12px;
  }
  .menu .btn_wrap {
    border: 1px solid #CCCCCC;
    padding: 18px 0;
    border-radius: 16px;
    width: 50%;
    margin-left: 8px;
    text-align: center;
    line-height: 0;
  }
  .menu .btn_wrap.confirm {
    border: 1px solid #D7191F;
  }
  .menu .btn_wrap:first-child {
    margin-left: 0;
  }
  .menu .depth_title {
    margin-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 28px;
    border-bottom: 1px solid #242D3C;
  }
  .menu .depth_list  {
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 83px;
    align-items: flex-start;
  }
  .menu .depth_item  {
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 1px solid #EFEFEF;
  }
  .menu .depth_item.last_item  {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }


  /* chat bot page */
  .chat_bot .containel{
    margin-top: 37px;
    margin-bottom: 120px;
  }
  .chat_bot .date{
    text-align: center;
  }
  .chat_bot .date{
    text-align: center;
  }
  .chat_bot .recep_item{
    margin-top: 20px;
  }
  .chat_bot .recep_swiper{
    margin-top: 12px;
  }
  .chat_bot .recep_time{
    margin-top: 8px;
  }
  .chat_bot .send_time{
    margin-top: 20px;
  }
  .chat_bot .swiper_item_inner {
    background: #F7F9FD;
    padding: 20px;
    border-radius: 24px;
    border-top-left-radius: 0;
  }
  .chat_bot .swiper_item_btn {
    margin-top: 12px;
  }
  .chat_bot .swiper_item_btn .btn {
    line-height: 0;
    border: 1px solid #000;
    border-radius: 16px;
    padding: 16px 0;
    text-align: center;
  }
  .chat_bot .swiper_item_btn .btn + .btn {
    margin-top:4px
  }
  .chat_bot .send_time {
    text-align: right;
  }
  .chat_bot .input_wrap {
    padding: 14px 20px;
    border-radius: 500px;
    background: rgb(247 249 253 / 80%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    position: fixed;
    bottom: 20px;
    width: 89%;
    max-width: 727px;
  }
  .chat_bot .input_wrap img + img {
    margin-left: 16px;
  }
  

  /* my data */
  .my_data .net_worth_score {
    color: #d7191f;
    font-weight: bold;
    font-size: 24px;
    margin-top: 8px;
  }
  .my_data.containel {
    margin-top:60px;
  }
  .my_data .net_worth {
    align-items: flex-start;
  }
  .my_data .net_worth_score + img {
    margin-top: 20px;
  }
  .my_data .section_inner .my_data_item:nth-child(2)  {
    margin-top: 40px;
  }
  .my_data .my_data_item {
    margin-top: 12px;
    padding: 32px 20px;
  }
  .my_data .my_data_title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
  }
  .my_data .myDataSwper {
    overflow: hidden;
    padding: 0 20px 20px;
    margin: 0 -20px;
  }
  .my_data .swiper_wrap {
    margin-top: 12px;
  }
  .my_data .swiper_item {
    height: 144px;
    padding: 24px 20px;
  }
  .my_data .swiper_item img + img {
    margin-left: auto;
  }

  /* product detail */
  .product_detail_section.containel{
    margin-top: 24px;
    padding-bottom: 32px;
  }
  .product_detail_section .detail_list {
    margin-top: 12px;
  }
  .product_detail_section .detail_list:first-child {
    margin-top: 0;
    position: relative;
  }
  .product_detail header{
    background: #EAEEF2;
  }
  .product_detail .top_banner {
    padding: 0 20px;
    margin-top: 80px;
  }
  .product_detail .top_banner a + img {
    margin-left: auto;
    margin-right: -20px;
    margin-top: -60px;
  }
  .product_detail .detail_list {
    padding: 48px 32px 48px 32px;
  }
  .product_detail .section_inner .detail_list img + img {
    margin: 24px auto 0;
  }
  .product_detail .section_inner .detail_list:nth-child(3) {
    padding: 48px 32px 0 32px;
  }
  .product_detail .section_inner .detail_list:nth-child(4) img + img {
    margin: initial;
    margin-right: auto;
    margin-top: 16px;
    margin-left: -30px;
  }
  .product_detail .section_inner .detail_list:nth-child(3) img + img {
    margin-top: 13px;
  }
  .product_detail .detail_list_text {
    margin-top: 40px;
  }
  .product_detail .detail_list_text ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
  }
  .product_detail .btn {
    margin-top: 60px;
    background: #242D3C;
    border-radius: 16px;
    text-align: center;
    padding: 18px 0;
    line-height: 0;
  }
  .product_detail .month_setting {
    width: 100%;
    margin-top: 90px;
    position: relative;
  }
  .product_detail .img_money {
    position: absolute;
    left: 0%;
    top: -61px;
    transform: translateX(-68%);
    -webkit-transform: translateX(-68%);
    -ms-transform: translateX(-68%);
    -o-transform: translateX(-68%);
  }

  .product_detail .img_money.active {
    animation: prog-ani 1s ease forwards;
  }
  @keyframes prog-ani {
    0% {
      left: 0%;
    }
    100% {
      left: 68%;
    }
  }

  .product_detail .prog_active ul.active {
    animation: prog-ani-02 1s ease forwards;
  }
  @keyframes prog-ani-02 {
    0% {
      width: 0%;
    }
    100% {
      width: 66%;
    }
  }

  .product_detail .month_prog {
    position: relative;
    margin-top: 6px;
  }
  .product_detail .prog_active {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .product_detail .prog_active ul {
    background: #D7191F;
    height: 4px;
    width: 0%;
    border-radius: 500px;
    position: relative;
    margin: 0 1%;
  }
  .product_detail .prog_active ul li {
    background: #D7191F;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -3px;
  }
  .product_detail .prog_active ul li:nth-child(2) {
    left: 49%;
  }
  .product_detail .prog_active ul li:nth-child(3) {
    background: #fff;
    width: 16px;
    height: 16px;
    top: -6px;
    right: 0;
    border: 4px solid #D7191F;
  }
  .product_detail .prog_bg {
    height: 4px;
    background: #F5F5F4;
    border-radius: 500px;
    margin: 0 1%;
  }
  .product_detail .month_list {
    margin-top: 7px;
  }
  .product_detail .progress-wrap{
    position: absolute;
    top: 78%;
    left: calc(50% - 7px);
    transform: translate(-50%, -76.5%);
    -webkit-transform: translate(-50%, -76.5%);
  }

  



/* 
  .outer { width: 20rem; height: 20rem; position: relative; border: 2px solid #426190; border-radius: 50%; margin: 25% auto; } */

.satellite_wrap {
  position: absolute;
  width: 132px;
  height: 165px;
  top: 71px;
  left: 15px;
}

.satellite_box {
  position: absolute;
  top: -27%;
  left: 15%;
  width: 100%;
  height: 100%;
  transform: rotate(140deg);
  opacity: 0;
}
.satellite_box.active {
  animation: forwardRotate 0.75s cubic-bezier(0.3,1,1,1);
  opacity: 1;
}
.satellite_box p {
  border: 4px solid #D7191F;
  background: #fff;
  border-radius: 500px;
  width: 16px;
  height: 16px;
}

@keyframes forwardRotate {
  from { transform: rotate(-100deg); opacity: 1;}
  
}


  .satellite_box1 p {
    position: relative; top: 0%; left: 0%;
  }