section{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.thinking{
    margin-top: 83px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.thinking img:nth-of-type(1){
    width: 214px;
}
.title{
    margin-top: 70px;
}
.sub_title{
    margin-top: 16px;
}

.btn_bottom_container{
    margin-top: 140px;
    display: flex;
    flex-flow: row;
    gap: 10px;
}
.btn_bottom:nth-of-type(1){
    width: 58.6%;
    background: #C8C8C8;
}