section{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.bell{
    width: 238px;
    margin-top: 65px;
}
.bell img{
    width: 100%;
}
.title{
    margin-top: 64px;
}
.sub_title{
    margin-top: 26px;
}

.btn_bottom{
    margin-top: 140px;
}