section{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.clap{
    width: 266px;
    margin-top: 97px;
}
.clap img{
    width: 100%;
}
.title{
    margin-top: 60px;
}
.sub_title{
    margin-top: 16px;
}

.btn_bottom{
    margin-top: 140px;
}

.effect{
    z-index: -1;
}
.effect img:nth-child(1){
    position: absolute;
    bottom: -36px;
    left: -28%;
    width: 232px;
}
.effect img:nth-child(2){
    position: absolute;
    bottom: 393px;
    right: -31%;
    width: 285px;
}