.title_box{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.title_box img:nth-of-type(2){
    top: -5%;
    right: 0;
    position: absolute;
    width: 86px;
    z-index: -2;
}

.info{
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 16px 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}
.info_title{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.info_name{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.info_limit{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.info_rate{
    margin-top: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.title{
    margin-top: 30px;
    display: flex;
}
.spaceB{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.line{
    width: 100%;
    border-top: solid 1px #DDD;
}

.btn_bottom_container{
    margin-top: 18px;
    display: flex;
    flex-flow: row;
    gap: 9px;
}
.btn_bottom:nth-of-type(1){
    background: #C8C8C8;
}