section{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.character{
    position: relative;
    margin-top: 36.7px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.character img:nth-of-type(1){
    width: 107.9px;
    rotate: 7deg;
}
.eyes{
    position: absolute;
    top: 130px;
    left: 40%;
    display: flex;
    gap: 13.06px;
}
.eyes img:nth-of-type(1){
    width: 6.53px;
    height: 6.53px;
}
.eyes img:nth-of-type(2){
    width: 6.53px;
    height: 6.53px;
}

.title{
    margin-top: 61px;
}
.sub_title{
    margin-top: 16px;
}

.btn_bottom{
    margin-top: 140px;
}